  <div class="flex flex-col h-full bg-base-200">  
    <%- include('partials/header') -%>
        <div class="flex-1 bg-neutral">
            <div class="pt-6">
                <p class="text-3xl font-bold text-white text-center">My Dashboard</p>
            </div>
            <div class="flex justify-center p-6">
              <a href="/newAttack" class="col-3 btn btn-accent">New Attack</a>
            </div>
            <div>
              <h2 class="text-white text-center text-3xl p-6">Past Attacks</h2>
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 justify-items-center pb-6">
                <% for(var i =0; i< attacks.length; i++) { %>
                <div class="card w-3/4 bg-secondary text-black-content" data-id="<%=attacks._id%>">
                  <div class="card-body items-center text-center">
                    <h5 class="card-title">Date: <%= attacks[i].startDate.toString().slice(0, 15) %></h5>
                    <p class="text-black">
                      Pain Level: <%= attacks[i].painLevel %>
                    </p>
                    <p class="text-black">
                      Triggers: <%= attacks[i].triggers %>
                    </p>
                    <p class="text-black">
                      Medicine Taken: <%= attacks[i].medicineTaken %>
                    </p>
                      <div class="card-actions justify-end">
                        <a href ="attack/<%= attacks[i]._id %>" class="col-3 btn btn-primary">Details</a>
                      </div>  
                  </div>  
                </div>
                <%  } %>   
              </div>
            </div>
        </div>
    <%- include('partials/footer') -%>
  </div>  
  

