<div flex>
    <span>Date: <%= attack.startDate.toString().slice(0, 15) %></span>
    <span>Pain Level:<%= attack.painLevel %></span>
    <span>Triggers: <%= attack.triggers %></span>
    <span>Aura: <%= attack.aura %></span>
    <span> Medicine Taken: <%= attack.medicineTaken %></span>
    <span>Other Relief Tried: <%= attack.otherRelief %></span>
    <span> Notes: <%= attack.notes %></span>
  </div>

</div>